<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.SysProductMapper">
    
    <resultMap type="SysProduct" id="SysProductResult">
        <result property="id"    column="id"    />
        <result property="productName"    column="product_name"    />
        <result property="productPrice"    column="product_price"    />
        <result property="productCount"    column="product_count"    />
        <result property="productStatus"    column="product_status"    />
        <result property="productType"    column="product_type"    />
        <result property="productPhoto"    column="product_photo"    />
    </resultMap>

    <sql id="selectSysProductVo">
        select id, product_name, product_price, product_count, product_status, product_type, product_photo from sys_product
    </sql>

    <select id="findProductByType" parameterType="SysProduct" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        where product_type = #{productType}
    </select>

    <select id="selectSysProductList" parameterType="SysProduct" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productPrice != null "> and product_price = #{productPrice}</if>
            <if test="productCount != null "> and product_count = #{productCount}</if>
            <if test="productStatus != null "> and product_status = #{productStatus}</if>
            <if test="productType != null "> and product_type = #{productType}</if>
            <if test="productPhoto != null  and productPhoto != ''"> and product_photo = #{productPhoto}</if>
        </where>
    </select>
    
    <select id="selectSysProductById" parameterType="String" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysProduct" parameterType="SysProduct">
        insert into sys_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="productName != null  and productName != ''">product_name,</if>
            <if test="productPrice != null ">product_price,</if>
            <if test="productCount != null ">product_count,</if>
            <if test="productStatus != null ">product_status,</if>
            <if test="productType != null ">product_type,</if>
            <if test="productPhoto != null  and productPhoto != ''">product_photo,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="productName != null  and productName != ''">#{productName},</if>
            <if test="productPrice != null ">#{productPrice},</if>
            <if test="productCount != null ">#{productCount},</if>
            <if test="productStatus != null ">#{productStatus},</if>
            <if test="productType != null ">#{productType},</if>
            <if test="productPhoto != null  and productPhoto != ''">#{productPhoto},</if>
         </trim>
    </insert>

    <update id="updateSysProduct" parameterType="SysProduct">
        update sys_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null  and productName != ''">product_name = #{productName},</if>
            <if test="productPrice != null ">product_price = #{productPrice},</if>
            <if test="productCount != null ">product_count = #{productCount},</if>
            <if test="productStatus != null ">product_status = #{productStatus},</if>
            <if test="productType != null ">product_type = #{productType},</if>
            <if test="productPhoto != null  and productPhoto != ''">product_photo = #{productPhoto},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysProductById" parameterType="String">
        delete from sys_product where id = #{id}
    </delete>

    <delete id="deleteSysProductByIds" parameterType="String">
        delete from sys_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>