<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')" />
    <link rel="stylesheet" href="/xadmin/css/font.css">
    <link rel="stylesheet" href="/xadmin/css/xadmin.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/xadmin/js/xadmin.js"></script>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-product-add" enctype="mutipart/form-data">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品名：</label>
                <div class="col-sm-8">
                    <input name="productName" id="productName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品价格：</label>
                <div class="col-sm-8">
                    <input name="productPrice" id="productPrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品库存：</label>
                <div class="col-sm-8">
                    <input name="productCount" id="productCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品状态:</label>
                <div class="col-sm-8">
                    <select name="productStatus" id="productStatus">
                        <option value="1">上架</option>
                        <option value="0">下架</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品类别：</label>
                <div class="col-sm-8">
                    <select name="productType" id="productType" >
                        <option th:each="type : ${productTypeList}" th:text="${type.name}" th:value="${type.id}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="file" class="col-sm-3 control-label">
                    <span class="x-red">*</span>商品图片
                </label>
                <div class="col-sm-8">
                    <img src="" class="layui-upload-img"
                         id="photo" width="100" height="100">
                    <p id="demoText"></p>
                    <input type="file" id="file" name="file" required="" lay-verify="img_url"
                           autocomplete="off" class="layui-input" style="margin-top: 5px;padding: 5px;">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "product"
        $("#form-product-add").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                // $.operate.save(prefix + "/add",$('#form-product-add').serialize());
                uploadFile();
            }
        }
        function uploadFile() {
            var formData = new FormData();
            if ($('#file')[0].files[0] == null) {
                $.modal.alertWarning("请先选择文件路径");
                return false;
            }

            formData.append("productName",$("#productName").val());
            formData.append("productPrice",$("#productPrice").val());
            formData.append("productCount",$("#productCount").val());
            formData.append("productType",$("#productType").val());
            formData.append("productStatus",$("#productStatus").val());

            // var data = $('#form-product-add').serialize();
            // formData.append('fileName', $("#fileName").val());
            formData.append('file', $('#file')[0].files[0]);
            $.ajax({
                url: prefix + "/add",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function(result) {
                    $.operate.successCallback(result);
                }
            });
        }
        <!--图片预览-->
        $.fn.extend({
            uploadPreview: function (opts) {
                var _self = this,
                    _this = $(this);
                opts = jQuery.extend({
                    Img: "photo",
                    Width: 100,
                    Height: 100,
                    ImgType: ["gif", "jpeg", "jpg", "bmp", "png"],
                    Callback: function () {
                    }
                }, opts || {});
                _self.getObjectURL = function (file) {
                    var url = null;
                    if (window.createObjectURL != undefined) {
                        url = window.createObjectURL(file)
                    } else if (window.URL != undefined) {
                        url = window.URL.createObjectURL(file)
                    } else if (window.webkitURL != undefined) {
                        url = window.webkitURL.createObjectURL(file)
                    }
                    return url
                };
                _this.change(function () {
                    if (this.value) {
                        if (!RegExp("\.(" + opts.ImgType.join("|") + ")$", "i").test(this.value.toLowerCase())) {
                            alert("选择文件错误,图片类型必须是" + opts.ImgType.join("，") + "中的一种");
                            this.value = "";
                            return false
                        }
                        //高版本Jquey使用  if ($.support.leadingWhitespace)
                        if ($.support.leadingWhitespace) { //低版本jquery中使用$.browser.msie
                            try {
                                $("#" + opts.Img).attr('src', _self.getObjectURL(this.files[0]))
                            } catch (e) {
                                var src = "";
                                var obj = $("#" + opts.Img);
                                var div = obj.parent("div")[0];
                                _self.select();
                                if (top != self) {
                                    window.parent.document.body.focus()
                                } else {
                                    _self.blur()
                                }
                                src = document.selection.createRange().text;
                                document.selection.empty();
                                obj.hide();
                                obj.parent("div").css({
                                    'filter': 'progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)',
                                    'width': opts.Width + 'px',
                                    'height': opts.Height + 'px'
                                });
                                div.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = src
                            }
                        } else {
                            $("#" + opts.Img).attr('src', _self.getObjectURL(this.files[0]))
                        }
                        opts.Callback()
                    }
                })
            }
        });
        $("#file").uploadPreview({
            Img: "photo"
        });
    </script>
</body>
</html>